.entre-em-contato {
  display: flex;
  justify-content: center;
  height: 8vh;
}

.entre-em-contato a {
  align-items: center;
  background-color: var(--amarelo-detalhes);
  color: var(--preto-fonte);
  display: flex;

  font-size: 0.9rem;
  font-weight: bold;
  gap: .3rem;
  height: 5vh;
  justify-content: space-around;
  margin-top: 1.5vh;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 10rem;
}

/* contatos - redes sociais */
.contatos div {
  background-color: var(--amarelo-detalhes);
  display: flex;
  justify-content: space-around;

  margin: 1rem auto;
  width: 60%;
}

.contatos div {
  padding: 0.5rem;
}


/*Desktop*/
@media screen and (min-width: 1024px) {
  .entre-em-contato {
      width: 70%;
      margin: 0 auto;
  }

  .entre-em-contato a {
    margin-left: 0;
    margin-right: auto;
  }

  .contatos div {
    width: 50%;
    padding: 1rem;
    margin: 2rem auto;
  }
}