.servicos {
 margin: 0 auto;
 width: 70%;
 align-items: center;
}

.servicos h3 {
  text-align: center;
}

.servicos__item {
  background-color: var(--cinza-servicos);
  height: auto;
  margin: 1rem auto;
  padding: 0.5rem;
  text-align: center;
}

.servicos__item p {
  text-align:left;
}